/* google font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Inter,sans-serif'
  }
/* nav bar */
nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:40px;
    padding-left:0;
    background-color:black;
  }
  .logo {
    font-size:20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    color:white;
  }
  nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
  }
  nav ul li a{
    font-family: 'inter';
    color:white;
    text-decoration: none;
    font-weight:normal;
    font-weight: 300;
  }



/* main section */
.ms {
    margin-top:0px;
    background-color: black;
    color:white;
    font-family: 'Inter';
}
.laptop {
    margin-left: 1000px;
    margin-top: 800px;
}
.mh {
    margin-top:0px;
    font-family: 'Inter';
    font-size: normal;
    font-weight: 700;
    font-size: 200px;
}

/* About Us */
.about {
    margin-top: 100px;
    display: flex;
    margin-left: 70px;
}
.ab h1 {
    color: black;
}
.al {
    margin-right: 40px;
    margin-left: 40px;
}

/* Our services */
.services {
 display: flex;
 overflow: auto;
}
.b {
    margin-top: 20px;
    color: black;
    margin-left:20px;
    margin-bottom: 20px;
}
.box {
    display: block;
    border: 1px solid black;
    border-width: 2px;
    height:250px;
    width:450px;
    margin-left: 20px;
    font-family: 'Inter';
    font-weight: 300;
}
p {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    font-family: 'Inter';
    font-weight: 300;
    font-style: none;
}
h3 {
    font-family: 'Inter';
    font-weight: 400;
    font-style: none;
    margin-top: 10px;
    margin-left: 15px;
}

/* Contact section */
.ls {
    margin-top: 30px;
}
.last {
    background-color: black;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    /* font-size: xx-large; */
    font-size: 50px;
    padding-top: 30px;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    border-color: white;
    border-width: 0.8px;
    border-radius: 2px;
    width:70%;
    /* margin-left: 100px; */
    color:white;
}
label {
    margin: 20px;
}
.button {
    background-color: white;
    color:black;
    width:100px;
    padding: 10px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.bottom {
    background-color: black;
    height: 40px;
    width:40px;
}
/* media Quirey */






/* end CSS */